html
    head
        link(rel="stylesheet", href="../bootstrap.css")
        link(rel="stylesheet", href="style.css")
    body
        .container
            .row
        .container
            div(class='row header-block')
                dev(class='col-md-3 col-sm-4')
                    h3(class='header-block__header_color_red') Header 1
                    p Но представители современных социальных резервов, инициированные исключительно синтетически, подвергнуты целой серии независимых исследований. В целом, конечно, граница обучения кадров играет важную роль в формировании инновационных методов управления процессами. Есть над чем задуматься: ключевые особенности структуры проекта могут быть ограничены исключительно образом мышления.
                dev(class='col-md-3 col-sm-4')
                    h3(class='header-block__header_color_red') Header 2
                    p Но представители современных социальных резервов, инициированные исключительно синтетически, подвергнуты целой серии независимых исследований. В целом, конечно, граница обучения кадров играет важную роль в формировании инновационных методов управления процессами.  
                dev(class='col-md-6 col-sm-4')
                    h3(class='header-block__header_color_red') Header 3
                    p Но представители современных социальных резервов, инициированные исключительно синтетически, подвергнуты целой серии независимых исследований.  