html
    head
        link(rel="stylesheet", href="style.css")
    body
        ul
            li 
                Some content 1
            li 
                Some content 2
            li
                Some content 3