html
    head
        link(rel="stylesheet", href="style.css")
    body
        h1 Header
        p Text in p tag
        ul
            li 
                Some content 1
            li 
                Some content 2
            li
                Some content 3