html
    head
        link(rel="stylesheet", href="../bootstrap.css")
        link(rel="stylesheet", href="style.css")
    body
        div
            h1 Header
            p Text in p tag
            ul
                li 
                    Some content 1
                li 
                    Some content 2
                li
                    Some content 3

        .container
            .row
                .col-sm 
                    h3 Header
                    p Но представители современных социальных резервов, инициированные исключительно синтетически, подвергнуты целой серии независимых исследований. В целом, конечно, граница обучения кадров играет важную роль в формировании инновационных методов управления процессами. Есть над чем задуматься: ключевые особенности структуры проекта могут быть ограничены исключительно образом мышления.
                .col-sm 2
                    h3 Header
                    p Но представители современных социальных резервов, инициированные исключительно синтетически, подвергнуты целой серии независимых исследований. В целом, конечно, граница обучения кадров играет важную роль в формировании инновационных методов управления процессами. Есть над чем задуматься: ключевые особенности структуры проекта могут быть ограничены исключительно образом мышления. 
                .col-sm 3
                    h3 Header
                    p Но представители современных социальных резервов, инициированные исключительно синтетически, подвергнуты целой серии независимых исследований. В целом, конечно, граница обучения кадров играет важную роль в формировании инновационных методов управления процессами. Есть над чем задуматься: ключевые особенности структуры проекта могут быть ограничены исключительно образом мышления.