html
    head
        link(rel="stylesheet", href="position.css")
    body
        div.child_fixed Fixed position
        div.wrapper
            div(style='position:relative')
                div.relative Relative position
                div.relative Relative position
                div.relative Relative position
                div.relative Relative position
                
                div.child_static Static position
            //div.child_absolute Absolute position
        div.height