html
    head
        link(rel="stylesheet", href="style.css")
    body
        ul
            li 
                a(href="/design/index.html") Design
            li 
                a(href="/js/index.html") Js
            li 
                a(href="/ts/index.html") Ts
            li
                a(href="/test.html") Test