html
    head
    body
        div.wrapper
            div.header Some head content
                 
            div.middle Some middle content
                
            div.footer Some footer content
                